.Mon-premier-site
{
    background-color: whitesmoke;
    
}
body, html {
    height: 100%;
    
}
.terre
{
    background-image: url("image\ terre.jpg");
    background-repeat: no-repeat;
    background-size: cover;       
}  
.feu
{
    background-image: url("image\ feu.webp");
    background-repeat: no-repeat;
    background-size: cover;    
}
.air
{
    background-image: url("image-air.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}
.eau
{
    background-image: url("image-eau.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.éléments
{
    display: flex;
    justify-content: center; 
}
.éléments_feu
{
    border-radius: 30px;
    background-color: rgba(197, 40, 20, 0.986);
    width: 70%;
    padding: 20px;
    
}
.éléments_air
{
    border-radius: 30px;
    width: 70%;
    background-color: rgba(18, 172, 199, 0.986);
    padding: 20px;
    
}
.éléments_eau
{
    border-radius: 30px;
    background-color: rgba(71, 125, 226, 0.986);
    padding: 20px;
    width: 70%;
    
}
.éléments_terre
{
    border-radius: 30px;
    background-color: rgba(150, 59, 7, 0.788);
    width: 70%;
    padding: 20px;
}
.color_feu
{
    display: flex;
    justify-content: center;
}
.color_air
{
   display: flex;
    justify-content: center; 
}
.color_eau
{
   display: flex;
    justify-content: center; 
}
.color_terre
{
   display: flex;
    justify-content: center; 
}
.éléments_symb
{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
img {
    border-radius: 20px;
}
.Index
{
    border-radius: 30px;
    background-color: rgba(71, 125, 226, 0.986);
    padding-right: 200px;
    padding-left: 200px;
    width: 80%;
}
.color_Index
{
   display: flex;
    justify-content: center; 
    
}