.Mon-premier-site
{
    background-color: whitesmoke;
    
}
body, html {
    height: 100%;
}
.terre
{
    background-image: url("image\ terre.jpg");
    background-repeat: no-repeat;
    background-size: cover;       
}  
.feu
{
    background-image: url("image\ feu.webp");
    background-repeat: no-repeat;
    background-size: cover;    
}
.air
{
    background-image: url("image-air.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}
.eau
{
    background-image: url("image-eau.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}